.App {
  margin-top: 2em;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

input {
  display: block;
  margin-bottom: 5px;
}

button {
  display: block;
  margin-bottom: 5px;
}

form {
  margin-left: 1em;
}

p {
  margin-left: 1em;
}